<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SSE demo</title>
</head>
<body>
    <h1>Server-sent event demo</h1>
    <ul id="list"></ul>

    <script type="text/javascript">

        var source = new EventSource('/events');
        
        source.onmessage = function (event) {
            let eventJson = JSON.parse(event.data);
            console.log("event", eventJson);
            if(Array.isArray(eventJson)){
                eventJson.forEach(e => {
                    const newElement = document.createElement("li");
                    const eventList = document.getElementById("list");
                    newElement.innerHTML = "event: " + e.msg;
                    eventList.appendChild(newElement);
                });
            } else {
                const newElement = document.createElement("li");
                const eventList = document.getElementById("list");
                newElement.innerHTML = "event: " + eventJson.msg;
                eventList.appendChild(newElement);
            } 
        };
    </script>
</body>
</html>